@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    9816 129th Lane N<br />
    Champlin, MN 55316<br />
    <abbr title="Phone">P:</abbr>
    612.710.6184
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">Rothermal2@comcast.net</a><br />
   @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>